<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<h1>, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
    <h3>{{name}}</h3>
    <p>This website was created by Sarvesh Kadam,It returns weather from location</p>
    <img src="./img/robot.png" alt="Image of Robot" class="potrait">
    </div>
    
    {{>footer}}
    <script src="./js/script.js"></script>
</body>
</html>